@media(max-width:1150px) {
    .half-content {
        width:100%;
        align-items:center;
    }
    .actionPanel {
        margin-top:25px;
        justify-content: center;
    }
    .actionFrame:not(:first-child) {
        margin-left:15px;
    }
    .itemlist {
        width:95%;
        max-width:700px;
    }
    .cnt {
        margin-left:0;
    }
    .section-header {
        margin-left:0;
    }
    .adaptive {
        align-items:center;
    }
}

@media(max-width:900px) {
    .menu-sections {
        display:none;
    }
    .side-menu, .burger-menu {
        display:block;
    }
}
@media(max-width:600px) {
    .item p {
        font-size:21px;
    }
    .item {
        height:50px;
    }
    .mini-header {
        font-size:30px;
    }
    .biggest {
        font-size:45px;
    }
    .bigger {
        font-size:42px;
    }
    .middle {
        font-size:40px;
    }
    .little {
        font-size:38px;
    }
}


/*  ULTRA-ADAPTIVE WEB-CREATE 
    BY DONEWEB 18-02-2021
    all rights reversed
*/

@media(min-width:1400px) {
    .actionFrame {
        width: 20vw;
        height: calc(20vw * 0.75);
    }
    .section-header {
        font-size:3.5vw;
    }
    .content-window .section-header {
        margin-left:1.3vw;
    }
    .mini-header {
        font-size:2.5vw;
        
    }
    .biggest {
        font-size:3.5vw;
    }
    .bigger {
        font-size:3.2vw;
    }
    .middle {
        font-size:2.9vw;
    }
    .little {
        font-size:2.5vw;
    }
    .actionPanel .AP-header {
        font-size:3.5vw;
    }
    .button {
        width:calc(210 * 0.075vw);
        height: calc(210 * 0.075vw * 0.175);
        font-size:2vw;
    }
    .smallfont {
        font-size:1.6vw;
    }
    .itemlist {
        width:42vw;
        height:70vh;
    }
    .hidden-text {
        font-size:1.5vw;
    }
    .menu {
        height:5.5vh;
    }
    .logo {
        height:77.7%;
    }
    .beta {
        font-size:2.1vw;
    }
    .menu-sections input[type='button'] {
        font-size:1.1vw;
    }
    .content-window {
        top:4.5vh;
        height: 95.5vh;
    }
    .text {
        font-size:2vw;
        margin-left:1.3vw;
    }
    #about .text {
        max-width:85vw;
    }
    .content {
        margin-left:1.3vw;
    }
    .cnt {
        margin-left:1.3vw;
    }
    .actionFrame a {
        margin-top:3px;
        font-size:1.5vw;
    }
    .inputfield {
        width:calc(250 * 0.075vw);
        height: calc(250 * 0.075vw * 0.129);
        font-size:1.65vw;
    }
    .link {
        font-size:1.8vw;
    }
    /* ELEMENT ITEM IN LIST */
    .item {
        height:4.6vh;
    }
    .item img {
        width:auto;
        height:87.5%;
    }
    .item p {
        font-size:2.55vh;
    }
    .item input[type="button"] {
        transform:scale(1vw);
    }
    .typebutton {
        width:calc(300 * 0.08vw);
        height:calc(300 * 0.08vw * 0.116);
        font-size:3.2vh;
    }
    .select {
        width:calc(250 * 0.075vw);
        height:calc(250 * 0.075vw * 0.128);
        font-size:3.2vh;
    }
    .text-tip {
        font-size:1.1vw;
    }
    .radio {
        font-size:1.5vw;
    }
    .radio input {
        width:1vw;
        height:1vw;
    }
    .range-header {
        font-size:2vw;
    }
    .color-display {
        width:5vw;
        height:5vw;
    }
    .mini-inputfield {

        font-size:1.25vw;
        width:3.5vw;
    }
    #IMAGE-PREVIEW {
        font-size:1vw;
        width:15vw;
        height:20vh;
    }
    .article {
        font-size:1.85vw;
    }
    .projectFrame {
        width:calc(300 * 0.07vw);
        height:calc(300 *0.75* 0.07vw);
    }
    .projectFrame a {
        font-size:1.5vw;
    }
    .projectFrameButton {
        width:3vw;
        height:3vw;
    }
    .actionTip {
        font-size:1.56vw;
    }
    .filemanager {
        font-size:1.8vw;
        width:85%;
        max-width:550px;
    }
    .filezone {
        font-size:2.6vw;
    }
    
}